#sql-editor {
    counter-reset: line;

    .keyword {
        color: var(--primary);
    }

    .identifier {
        color: rgb(8, 114, 184);
    }

    .string {
        color: green;
    }

    .comment {
        color: #888;
    }

    #sql-editor-textarea {
        outline: none;
        padding-left: 50px !important;
    }

    pre {
        padding-left: 50px !important;
    }

    .editorLineNumber {
        position: absolute;
        left: 0px;
        color: #aaa;
        text-align: left;
        width: 50px;
        font-weight: 100;
        padding-left: 5px;
        font-size: 0.85rem;
    }

}