:root {
    --primary: #1976d2;
    --warning: #d2c019;

    --highlight-transition: all ease-out 0.25s;
}

#header-title::after {
    content: "BETA";
    font-size: 0.75rem;
    font-weight: 200;
}

.MuiToolbar-regular {
    height: 48px;
    min-height: 48px !important;
}

.bg-primary {
    background-color: var(--primary) !important;
}

.text-primary {
    color: var(--primary);
}

.highlight-field {
    background-color: var(--primary);
    color: white;
    transition: var(--highlight-transition);
}

#join-icon svg {
    color: var(--primary);
}

.highlight-edge path {
    stroke: var(--primary) !important;
    stroke-width: 2px !important;
    transition: var(--highlight-transition);
}

.highlight-ambiguous-edge path  {
    stroke: var(--warning) !important;
    stroke-width: 3px !important;
}

.react-flow__node {
    overflow: visible;
}


.highlight-field .invocation-column-text {
    display: flex !important;
}

.invocation-column-text {
    display: none;
}